<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Techsume</title>
  <link rel="stylesheet" href="../styles/about-us.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="../scripts/script.js"></script>
</head>

<body>
  <div class="bg">
    <header>
      <!--Navigation Bar-->
      <nav class="top-bar">
        <a href="/index.html"><img src="/img/justlogo.png" class="logo"></a>
        <ul>
          <li class="signin-btn"><a>LOGIN / SIGNIN</a></li>
          <li>
            <div class="dropdown">
              <button class="dropdown-btn" onclick="dropdownButton()"><span class="material-icons">menu</span></button>
              <div id="dropdown-content" class="dropdown-content">
                <a href="./src/about-us.html">ABOUT US</a>
                <a href="./src/contact-us.html">CONTACT US</a>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!--Separator-->
    <hr class="h-line">

    <!--Title-->
    <h1 id="title-name">TECHSUME</h1>
    <p id="title-phrase"> An all Female-Developed Team </p>
  </div>

  <!--About Us-->
  <div class="about-us">

    <p> Hello! Techsume Here. </p>
    <p> We are founded by 4 exceptional young women taking over the Professional World of IT</p>
    <p> We created this platform to be able to help our peers navigate through the job search phase after graduation
    </p>
    <p>
      "We wanted to create something that would be able to give back to our community and help guide IT professionals
      to their dream jobs. We know it might sound like a fairy tale, but we designed Techsume to be a safe and exclusive
      place for us all as an IT community" - Techsume Team
    </p>
  </div>



  <footer>
    <p>&copy; 2023 IT Resume Uploader</p>
  </footer>
</body>

</html>